SM_ENV=prod

SERVER_NAME="Mis Army #{INSTANCE}"
MAX_PLAYERS=16
RCON_PASSWORD=password
STEAM_GROUP=12345678
SERVER_CFG_MODE=append

AUTO_LOAD_MODE=lobby
AUTO_LOAD_CFG=mismod
MISMOD_VERSION=0.11.2

TV_ENABLE=1
TV_NAME=demos.misarmy.com
DEMOS_API_ENDPOINT=http://demos_app:3000/demos/api/demos
DEMOS_API_TOKEN=api_token

SB_HOST=bans_db
SB_DATABASE=sourcebans
SB_USER=sourcebans
SB_PASS=password
SB_WEBSITE=bans.misarmy.com

API_ALLOWED_ORIGINS=[http://localhost:3000,https://misarmy.com]